<%- include('header', obj.title); %>
<div id="wrapper">
    <audio id="alertsound" preload="auto">
        <source src="/media/snd1.ogg"  type="audio/ogg">
        <source src="/media/snd1.mp3"  type="audio/mpeg">
        <source src="/media/snd1.wav"  type="audio/wav">
    </audio>
    <div id="popcontainer">
    </div>
    <div class="all-done">
        <i class="material-icons green-status">done_all</i>
        <span>Nessuna Notifica</span>
    </div>
    <div id="main">
        <div id="allarmiproblemi">
            <div class="box-50 box-group" id="problems">
                <h2>Problemi</h2>
                <div class="notify-box rtg-box">
                    <div class="table-tools">
                        <div class="counter"></div>
                    </div>
                    <h3 class="tab-title">
                        <span>R</span>
                        <span>T</span>
                        <span>G</span>
                    </h3>
                    <div class="table-wrap">
                    </div>
                </div>
                <div class="notify-box tcp-box">
                    <div class="table-tools">
                        <div class="counter"></div>
                    </div>
                    <h3 class="tab-title">
                        <span>T</span>
                        <span>C</span>
                        <span>P</span>
                    </h3>
                    <div class="table-wrap">
                    </div>
                </div>
                <div class="notify-box ncr-box">
                    <div class="table-tools">
                        <div class="counter"></div>
                    </div>
                    <h3 class="tab-title">
                        <span>N</span>
                        <span>C</span>
                        <span>R</span>
                    </h3>
                    <div class="table-wrap">
                    </div>
                </div>
                <div class="notify-box ssl-box">
                    <div class="table-tools">
                        <div class="counter"></div>
                    </div>
                    <h3 class="tab-title">
                        <span>S</span>
                        <span>S</span>
                        <span>L</span>
                    </h3>
                    <div class="table-wrap">
                    </div>
                </div>
            </div><!-- /box-group problemi -->
            <div class="box-50 box-group" id="alarms">
                <h2>Allarmi</h2>
                <div class="notify-box rtg-box">
                    <div class="table-tools">
                        <div class="counter"></div>
                    </div>
                    <h3 class="tab-title">
                        <span>R</span>
                        <span>T</span>
                        <span>G</span>
                    </h3>
                    <div class="table-wrap">
                    </div>
                </div>

                <div class="notify-box tcp-box">
                    <div class="table-tools">
                        <div class="counter"></div>
                    </div>
                    <h3 class="tab-title">
                        <span>T</span>
                        <span>C</span>
                        <span>P</span>
                    </h3>
                    <div class="table-wrap">
                    </div>
                </div>
                <div class="notify-box ncr-box">
                    <div class="table-tools">
                        <div class="counter"></div>
                    </div>
                    <h3 class="tab-title">
                        <span>N</span>
                        <span>C</span>
                        <span>R</span>
                    </h3>
                    <div class="table-wrap">
                    </div>
                </div>
                <div class="notify-box ssl-box">
                    <div class="table-tools">
                        <div class="counter"></div>
                    </div>
                    <h3 class="tab-title">
                        <span>S</span>
                        <span>S</span>
                        <span>L</span>
                    </h3>
                    <div class="table-wrap">
                    </div>
                </div>
            </div><!-- /box-group allarmi-->
        </div>
        <div class="box-100 box-group">
            <div class="notify-box monitor-box">
                <div class="table-tools">
                    <div class="option email">Email <i class="material-icons">email</i></div>
                    <div class="option sms">SMS <i class="material-icons">message</i></div>
                    <div class="option gestione">Gestione <i class="material-icons">build</i></div>
                    <div class="option storico">Storico <i class="material-icons">history</i></div>
                    <div class="option deleteall">Elimina Tutti <i class="material-icons">delete</i></div>
                    <div class="counter"></div>
                </div>
                <h3 class="tab-title">
                    <span>T</span>
                    <span>R</span>
                    <span>A</span>
                    <span>P</span>
                    <span style="visibility: hidden;">.</span>
                    <span>G</span>
                    <span>T</span>
                </h3>
                <div class="table-wrap">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/vendor/jquery-3.2.1.min.js"></script>
<script src="/js/plugins.js"></script>
<script>
    $('.option.email').on('click', function(){
        popwindow('/email/', {
            width: 700,
            height: 400,
            title: 'Email'
        });
    });
    $('.option.sms').on('click', function(){
        popwindow('/sms/', {
            width: 700,
            height: 400,
            title: 'SMS'
        });
    });
    $('.option.gestione').on('click', function(){
        popwindow('/gestione/', {
            width: 1250,
            height: 600,
            title: 'Gestione Allarmi'
        });
    });
    $('.option.storico').on('click', function(){
        window.open('/storico/');
    });
    $('.option.deleteall').on('click', function(){
        var jqxhr = $.ajax({
            type: "GET",
            url: '/deleteall/',
        });
        jqxhr.done(function(res){
            popup('#popcontainer', res);

            $('#deleteform').on('submit', function(e){
                e.preventDefault();

                var jqxhr = $.ajax({
                    type: "GET",
                    url: '/deleteall/save/',
                });
                jqxhr.done(function(res){
                    popup('#popcontainer', res);
                    setTimeout(function(){
                        location.reload();
                    }, 1000);
                }).fail(function(err){
                    popup('#popcontainer', err);
                });
            });

        }).fail(function(err){
            popup('#popcontainer', err);
        });
    });

    // Apre Socket
    var socket = io.connect('<%- protocol;%>://<%- server;%>:<%- port;%>', {
        'secure': true,
        'transports': ['websocket'],
        'upgrade': false,
        'reconnection': true,
        'reconnectionDelay': 1000
    });

    // HTML
    var alarmhead = '<thead>\
                        <tr>\
                            <th></th>\
                            <th class="row-title">Apparati</th>\
                            <th>Data & Ora</th>\
                            <th>Stato</th>\
                            <th>Notifiche</th>\
                        </tr>\
                    </thead>';
    var problemhead = '<thead>\
                        <tr>\
                            <th></th>\
                            <th class="row-title">Apparati</th>\
                            <th>Data & Ora</th>\
                            <th>Stato</th>\
                        </tr>\
                    </thead>';
    var traphead = '<thead>\
                        <tr>\
                            <th></th>\
                            <th class="row-title">Apparati</th>\
                            <th>Data & Ora</th>\
                            <th>Stato</th>\
                            <th>Info</th>\
                            <th>Notifiche</th>\
                        </tr>\
                    </thead>';

    var noalarm = '<div class="no-problems">\
                        <i class="material-icons green-status">done_all</i>\
                        <span>Nessun Allarme Presente</span>\
                    </div>';

    var noproblem = '<div class="no-problems">\
                        <i class="material-icons green-status">done_all</i>\
                        <span>Nessun Problema Presente</span>\
                    </div>';

    var noconnection = '<div class="no-problems">\
                            <i class="material-icons red-status">warning</i>\
                            <span>Server Disconnesso</span>\
                            <table></table>\
                        </div>';

    function htmlAlarm(obj){// Allarmi
        var alarm = {};
        alarm.warning = 0;

        alarm.table = '<table class="tab-table">';
        alarm.table += alarmhead;
        alarm.table +=   '<tbody>';

        for(i=0;i<obj.length;i++){
            alarm.table += '<tr>';
            alarm.table +=   '<td class="status">'+obj[i].icon+'</td>';
            alarm.table +=   '<td class="row-title">'+obj[i].mac+'</td>';
            alarm.table +=   '<td>'+obj[i].dataora+'</td>';
            alarm.table +=   '<td>'+obj[i].desc+' <i class="material-icons help" title="'+obj[i].cod+'">info_outline</i></td>';
            alarm.table +=   '<td>'+obj[i].notifiche+'</td>';
            alarm.table += '</tr>';

            if(obj[i].warning > alarm.warning) alarm.warning = obj[i].warning;
        }

        alarm.table +=   '</tbody>';
        alarm.table += '</table>';


        return alarm;
    }

    function htmlProblem(obj){// Problemi
        var problem ={};
        problem.warning = 0;

        problem.table = '<table class="tab-table">';
        problem.table += problemhead;
        problem.table +=  '<tbody>';

        for(i=0;i<obj.length;i++){
            problem.table += '<tr>';
            problem.table +=   '<td class="status">'+obj[i].icon+'</td>';
            problem.table +=   '<td class="row-title">'+obj[i].mac+'</td>';
            problem.table +=   '<td>'+obj[i].dataora+'</td>';
            problem.table +=   '<td>'+obj[i].desc+'</td>';
            problem.table += '</tr>';

            if(obj[i].warning > problem.warning) problem.warning = obj[i].warning;
        }

        problem.table +=   '</tbody>';
        problem.table += '</table>';

        return problem;
    }

    function htmlTrap(obj){// Trap GT
        var trap ={};
        trap.warning = 0;

        trap.table = '<table class="tab-table">';
        trap.table += traphead;
        trap.table +=  '<tbody>';

        for(i=0;i<obj.length;i++){
            trap.table += '<tr>';
            trap.table +=   '<td class="status">'+obj[i].icon+'</td>';
            trap.table +=   '<td class="row-title">'+obj[i].mac+'</td>';
            trap.table +=   '<td>'+obj[i].dataora+'</td>';
            trap.table +=   '<td>'+obj[i].desc+'</td>';
            trap.table +=   '<td>'+obj[i].info+'</td>';
            trap.table +=   '<td>'+obj[i].notifiche+'</td>';
            trap.table += '</tr>';

            if(obj[i].warning > trap.warning) trap.warning = obj[i].warning;
        }

        trap.table +=   '</tbody>';
        trap.table += '</table>';

        return trap;
    }

    // RTG
    socket.on('rtg/alarm', function (data) {

        var obj = data;

        if(obj !== undefined && obj != 'error'){
            if(obj.length > 0){
                var numalarms = obj.length;
                var alarm = htmlAlarm(obj);

                if(alarm.warning > 1){
                    label = 'red-bg';
                }
                else{
                    label = 'yellow-bg';
                }

                $('.rtg-box').css("display", "flex").fadeIn(200);
                $('#alarms .rtg-box .counter').html(numalarms).fadeIn(200);
                $('#alarms .rtg-box .tab-title').removeClass('red-bg');
                $('#alarms .rtg-box .tab-title').removeClass('yellow-bg');
                $('#alarms .rtg-box .tab-title').removeClass('gray-bg');
                $('#alarms .rtg-box .tab-title').addClass(label);
                $('#alarms .rtg-box .table-wrap').html(alarm.table).fadeIn(200);
            }
            else{
                $('#alarms .rtg-box .counter').fadeOut(200).html('');
                $('#alarms .rtg-box .table-wrap').html(noalarm);
                $('#alarms .rtg-box .tab-title').removeClass('red-bg');
                $('#alarms .rtg-box .tab-title').removeClass('yellow-bg');
                $('#alarms .rtg-box .tab-title').removeClass('gray-bg');
            }

            if($('.rtg-box table').length < 1) $('.rtg-box').fadeOut(200);
        }
        else if(obj == 'error'){
            $('.rtg-box').css("display", "flex").fadeIn(200);
            $('#alarms .rtg-box .counter').fadeOut(200).html('');
            $('#alarms .rtg-box .table-wrap').html(noconnection);
            $('#alarms .rtg-box .tab-title').removeClass('red-bg');
            $('#alarms .rtg-box .tab-title').removeClass('yellow-bg');
            $('#alarms .rtg-box .tab-title').addClass('gray-bg');
        }
    });

    socket.on('rtg/problem', function (data) {
        var obj = data;

        if(obj !== undefined && obj != 'error'){
            if(obj.length > 0){
                var numproblems = obj.length;
                var problem = htmlProblem(obj);

                if(problem.warning > 1){
                    label = 'red-bg';
                }
                else{
                    label = 'red-bg';
                    //label = 'yellow-bg';
                }

                $('.rtg-box').css("display", "flex").fadeIn(200);
                $('#problems .rtg-box .counter').html(numproblems).fadeIn(200);
                $('#problems .rtg-box .tab-title').removeClass('red-bg');
                $('#problems .rtg-box .tab-title').removeClass('yellow-bg');
                $('#problems .rtg-box .tab-title').removeClass('gray-bg');
                $('#problems .rtg-box .tab-title').addClass(label);
                $('#problems .rtg-box .table-wrap').html(problem.table).fadeIn(200);
            }
            else{
                $('#problems .rtg-box .counter').fadeOut(200).html('');
                $('#problems .rtg-box .table-wrap').html(noproblem);
                $('#problems .rtg-box .tab-title').removeClass('yellow-bg');
                $('#problems .rtg-box .tab-title').removeClass('gray-bg');
                $('#problems .rtg-box .tab-title').removeClass('red-bg');
            }

            if($('.rtg-box table').length < 1) $('.rtg-box').fadeOut(200);
        }
        else if(obj == 'error'){
            $('.rtg-box').css("display", "flex").fadeIn(200);
            $('#problems .rtg-box .counter').fadeOut(200).html('');
            $('#problems .rtg-box .table-wrap').html(noconnection);
            $('#problems .rtg-box .tab-title').removeClass('red-bg');
            $('#problems .rtg-box .tab-title').removeClass('yellow-bg');
            $('#problems .rtg-box .tab-title').addClass('gray-bg');
        }

    });

    // TCP/IP
    socket.on('tcp/alarm', function (data) {

        var obj = data;

        if(obj !== undefined && obj != 'error'){
            if(obj.length > 0){
                var numalarms = obj.length;
                var alarm = htmlAlarm(obj);

                if(alarm.warning > 1){
                    label = 'red-bg';
                }
                else{
                    label = 'yellow-bg';
                }

                $('.tcp-box').css("display", "flex").fadeIn(200);
                $('#alarms .tcp-box .counter').html(numalarms).fadeIn(200);
                $('#alarms .tcp-box .tab-title').removeClass('red-bg');
                $('#alarms .tcp-box .tab-title').removeClass('yellow-bg');
                $('#alarms .tcp-box .tab-title').removeClass('gray-bg');
                $('#alarms .tcp-box .tab-title').addClass(label);
                $('#alarms .tcp-box .table-wrap').html(alarm.table).fadeIn(200);
            }
            else{
                $('#alarms .tcp-box .counter').fadeOut(200).html('');
                $('#alarms .tcp-box .table-wrap').html(noalarm);
                $('#alarms .tcp-box .tab-title').removeClass('red-bg');
                $('#alarms .tcp-box .tab-title').removeClass('yellow-bg');
                $('#alarms .tcp-box .tab-title').removeClass('gray-bg');
            }

            if($('.tcp-box table').length < 1) $('.tcp-box').fadeOut(200);
        }
        else if(obj == 'error'){
            $('.tcp-box').css("display", "flex").fadeIn(200);
            $('#alarms .tcp-box .counter').fadeOut(200).html('');
            $('#alarms .tcp-box .table-wrap').html(noconnection);
            $('#alarms .tcp-box .tab-title').removeClass('red-bg');
            $('#alarms .tcp-box .tab-title').removeClass('yellow-bg');
            $('#alarms .tcp-box .tab-title').addClass('gray-bg');
        }

    });

    socket.on('tcp/problem', function (data) {
        var obj = data;

        if(obj !== undefined && obj != 'error'){
            if(obj.length > 0){
                var numproblems = obj.length;
                var problem = htmlProblem(obj);

                if(problem.warning > 1){
                    label = 'red-bg';
                }
                else{
                    label = 'red-bg';
                    //label = 'yellow-bg';
                }

                $('.tcp-box').css("display", "flex").fadeIn(200);
                $('#problems .tcp-box .counter').html(numproblems).fadeIn(200);
                $('#problems .tcp-box .tab-title').removeClass('red-bg');
                $('#problems .tcp-box .tab-title').removeClass('yellow-bg');
                $('#problems .tcp-box .tab-title').removeClass('gray-bg');
                $('#problems .tcp-box .tab-title').addClass(label);
                $('#problems .tcp-box .table-wrap').html(problem.table).fadeIn(200);
            }
            else{
                $('#problems .tcp-box .counter').fadeOut(200).html('');
                $('#problems .tcp-box .table-wrap').html(noproblem);
                $('#problems .tcp-box .tab-title').removeClass('yellow-bg');
                $('#problems .tcp-box .tab-title').removeClass('gray-bg');
                $('#problems .tcp-box .tab-title').removeClass('red-bg');
            }

            if($('.tcp-box table').length < 1) $('.tcp-box').fadeOut(200);
        }
        else if(obj == 'error'){
            $('.tcp-box').css("display", "flex").fadeIn(200);
            $('#problems .tcp-box .counter').fadeOut(200).html('');
            $('#problems .tcp-box .table-wrap').html(noconnection);
            $('#problems .tcp-box .tab-title').removeClass('red-bg');
            $('#problems .tcp-box .tab-title').removeClass('yellow-bg');
            $('#problems .tcp-box .tab-title').addClass('gray-bg');
        }
    });

    // NCR
    socket.on('ncr/alarm', function (data) {
        var obj = data;

        if(obj !== undefined && obj != 'error'){
            if(obj.length > 0){
                var numalarms = obj.length;
                var alarm = htmlAlarm(obj);

                if(alarm.warning > 1){
                    label = 'red-bg';
                }
                else{
                    label = 'yellow-bg';
                }

                $('.ncr-box').css("display", "flex").fadeIn(200);
                $('#alarms .ncr-box .counter').html(numalarms).fadeIn(200);
                $('#alarms .ncr-box .tab-title').removeClass('red-bg');
                $('#alarms .ncr-box .tab-title').removeClass('yellow-bg');
                $('#alarms .ncr-box .tab-title').removeClass('gray-bg');
                $('#alarms .ncr-box .tab-title').addClass(label);
                $('#alarms .ncr-box .table-wrap').html(alarm.table).fadeIn(200);
            }
            else{
                $('#alarms .ncr-box .counter').fadeOut(200).html('');
                $('#alarms .ncr-box .table-wrap').html(noalarm);
                $('#alarms .ncr-box .tab-title').removeClass('red-bg');
                $('#alarms .ncr-box .tab-title').removeClass('yellow-bg');
                $('#alarms .ncr-box .tab-title').removeClass('gray-bg');
            }

            if($('.ncr-box table').length < 1) $('.ncr-box').fadeOut(200);
        }
        else if(obj == 'error'){
            $('.ncr-box').css("display", "flex").fadeIn(200);
            $('#alarms .ncr-box .counter').fadeOut(200).html('');
            $('#alarms .ncr-box .table-wrap').html(noconnection);
            $('#alarms .ncr-box .tab-title').removeClass('red-bg');
            $('#alarms .ncr-box .tab-title').removeClass('yellow-bg');
            $('#alarms .ncr-box .tab-title').addClass('gray-bg');
        }
    });

    socket.on('ncr/problem', function (data) {
        var obj = data;

        if(obj !== undefined && obj != 'error'){
            if(obj.length > 0){
                var numproblems = obj.length;
                var problem = htmlProblem(obj);

                if(problem.warning > 1){
                    label = 'red-bg';
                }
                else{
                    label = 'red-bg';
                    //label = 'yellow-bg';
                }

                $('.ncr-box').css("display", "flex").fadeIn(200);
                $('#problems .ncr-box .counter').html(numproblems).fadeIn(200);
                $('#problems .ncr-box .tab-title').removeClass('red-bg');
                $('#problems .ncr-box .tab-title').removeClass('yellow-bg');
                $('#problems .ncr-box .tab-title').removeClass('gray-bg');
                $('#problems .ncr-box .tab-title').addClass(label);
                $('#problems .ncr-box .table-wrap').html(problem.table).fadeIn(200);
            }
            else{
                $('#problems .ncr-box .counter').fadeOut(200).html('');
                $('#problems .ncr-box .table-wrap').html(noproblem);
                $('#problems .ncr-box .tab-title').removeClass('yellow-bg');
                $('#problems .ncr-box .tab-title').removeClass('gray-bg');
                $('#problems .ncr-box .tab-title').removeClass('red-bg');
            }

            if($('.ncr-box table').length < 1) $('.ncr-box').fadeOut(200);
        }
        else if(obj == 'error'){
            $('.ncr-box').css("display", "flex").fadeIn(200);
            $('#problems .ncr-box .counter').fadeOut(200).html('');
            $('#problems .ncr-box .table-wrap').html(noconnection);
            $('#problems .ncr-box .tab-title').removeClass('red-bg');
            $('#problems .ncr-box .tab-title').removeClass('yellow-bg');
            $('#problems .ncr-box .tab-title').addClass('gray-bg');
        }
    });

    // SSL
    socket.on('ssl/alarm', function (data) {

        var obj = data;

        if(obj !== undefined && obj != 'error'){
            if(obj.length > 0){
                var numalarms = obj.length;
                var alarm = htmlAlarm(obj);

                if(alarm.warning > 1){
                    label = 'red-bg';
                }
                else{
                    label = 'yellow-bg';
                }

                $('.ssl-box').css("display", "flex").fadeIn(200);
                $('#alarms .ssl-box .counter').html(numalarms).fadeIn(200);
                $('#alarms .ssl-box .tab-title').removeClass('red-bg');
                $('#alarms .ssl-box .tab-title').removeClass('yellow-bg');
                $('#alarms .ssl-box .tab-title').removeClass('gray-bg');
                $('#alarms .ssl-box .tab-title').addClass(label);
                $('#alarms .ssl-box .table-wrap').html(alarm.table).fadeIn(200);
            }
            else{
                $('#alarms .ssl-box .counter').fadeOut(200).html('');
                $('#alarms .ssl-box .table-wrap').html(noalarm);
                $('#alarms .ssl-box .tab-title').removeClass('red-bg');
                $('#alarms .ssl-box .tab-title').removeClass('yellow-bg');
                $('#alarms .ssl-box .tab-title').removeClass('gray-bg');
            }

            if($('.ssl-box table').length < 1) $('.ssl-box').fadeOut(200);
        }
        else if(obj == 'error'){
            $('.ssl-box').css("display", "flex").fadeIn(200);
            $('#alarms .ssl-box .counter').fadeOut(200).html('');
            $('#alarms .ssl-box .table-wrap').html(noconnection);
            $('#alarms .ssl-box .tab-title').removeClass('red-bg');
            $('#alarms .ssl-box .tab-title').removeClass('yellow-bg');
            $('#alarms .ssl-box .tab-title').addClass('gray-bg');
        }

    });

    socket.on('ssl/problem', function (data) {
        var obj = data;

        if(obj !== undefined && obj != 'error'){
            if(obj.length > 0){
                var numproblems = obj.length;
                var problem = htmlProblem(obj);

                if(problem.warning > 1){
                    label = 'red-bg';
                }
                else{
                    label = 'red-bg';
                    //label = 'yellow-bg';
                }

                $('.ssl-box').css("display", "flex").fadeIn(200);
                $('#problems .ssl-box .counter').html(numproblems).fadeIn(200);
                $('#problems .ssl-box .tab-title').removeClass('red-bg');
                $('#problems .ssl-box .tab-title').removeClass('yellow-bg');
                $('#problems .ssl-box .tab-title').removeClass('gray-bg');
                $('#problems .ssl-box .tab-title').addClass(label);
                $('#problems .ssl-box .table-wrap').html(problem.table).fadeIn(200);
            }
            else{
                $('#problems .ssl-box .counter').fadeOut(200).html('');
                $('#problems .ssl-box .table-wrap').html(noproblem);
                $('#problems .ssl-box .tab-title').removeClass('yellow-bg');
                $('#problems .ssl-box .tab-title').removeClass('red-bg');
                $('#problems .ssl-box .tab-title').removeClass('gray-bg');
            }

            if($('.ssl-box table').length < 1) $('.ssl-box').fadeOut(200);
        }
        else if(obj == 'error'){
            $('.ssl-box').css("display", "flex").fadeIn(200);
            $('#problems .ssl-box .counter').fadeOut(200).html('');
            $('#problems .ssl-box .table-wrap').html(noconnection);
            $('#problems .ssl-box .tab-title').removeClass('red-bg');
            $('#problems .ssl-box .tab-title').removeClass('yellow-bg');
            $('#problems .ssl-box .tab-title').addClass('gray-bg');
        }
    });

    // TRAP
    socket.on('trap/problem', function (data) {
        var obj = data;

        if(obj !== undefined && obj != 'error'){
            if(obj.length > 0){
                var numproblems = obj.length;
                var trap = htmlTrap(obj);

                if(trap.warning == 6){
                    label = 'red-bg';
                }
                else{
                    label = 'yellow-bg';
                }

                $('.monitor-box').css("display", "flex").fadeIn(200);
                $('.monitor-box .counter').html(numproblems).fadeIn(200);
                $('.monitor-box .tab-title').removeClass('red-bg');
                $('.monitor-box .tab-title').removeClass('yellow-bg');
                $('.monitor-box .tab-title').removeClass('gray-bg');
                $('.monitor-box .tab-title').addClass(label);
                $('.monitor-box .table-wrap').html(trap.table).fadeIn(200);
                $('.monitor-box .table-tools').fadeIn(200);
            }
            else{
                $('.monitor-box .counter').fadeOut(200).html('');
                $('.monitor-box .table-tools').fadeOut(200);
                $('.monitor-box .table-wrap').html(noproblem);
                $('.monitor-box .tab-title').removeClass('yellow-bg');
                $('.monitor-box .tab-title').removeClass('red-bg');
                $('.monitor-box .tab-title').removeClass('gray-bg');
            }

            if($('.monitor-box table').length < 1) $('.monitor-box').fadeOut(200);
        }
        else if(obj == 'error'){
            $('.monitor-box').css("display", "flex").fadeIn(200);
            $('.monitor-box .counter').fadeOut(200).html('');
            $('.monitor-box .table-tools').fadeOut(200);
            $('.monitor-box .table-wrap').html(noconnection);
            $('.monitor-box .tab-title').removeClass('red-bg');
            $('.monitor-box .tab-title').removeClass('yellow-bg');
            $('.monitor-box .tab-title').addClass('gray-bg');
        }
    });

    //Alert sound
    var alertsound = document.getElementById('alertsound');
    alertsound.addEventListener('ended', function() {
        this.currentTime = 0;
        this.play();
    }, false);

    // Observer
    (function(){
        var observer = new MutationObserver(function(mutations){
            for (var i=0; i < mutations.length; i++){
                if($('.table-wrap > table').length == 0){
                    $('.all-done').css("display", "flex").fadeIn(200);
                }
                else{
                    $('.all-done').fadeOut(200);
                }

                if($('.red-bg').length > 0){
                   alertsound.play();
                }
                else{
                   alertsound.pause();
                }

            }
        });

        observer.observe(document.documentElement, {
            childList: true,
            subtree: true
        });

    })();

    setTimeout(function(){
        $('.all-done span').fadeIn(200);
        $('.all-done i').fadeIn(200);
    },1000);


</script>
<%- include('footer'); %>
